# No Argument Function

In [1]:
def my_function():
    print("Hello World")
    
my_function()

Hello World

# With Argument Function

In [2]:
def my_function(name):
    print("My name is : ",name)
    
my_function("Nirali")

My name is :  Nirali

# With Return Statement

In [33]:
def my_function(name):
    return name

name=my_function("Nirali")
print("Name is : ",name)

Name is :  Nirali

# Multiple return statement

In [5]:
def my_function():
    name = "Akash Technolabs"
    contact = 9978621654
    return name,contact

n,c = my_function()
print("Name is : ",n)
print("Contact no is : ",c)

Name is :  Akash Technolabs
Contact no is :  9978621654

# Function with default argument

In [8]:
def sum(a=5,b=7):
    print(a+b)

print("function called with argument")
sum(10,20)
print("function called with no argument") 
sum()

function called with argument
30
function called with no argument
12

# Function With Keyword Argument

In [11]:
def sum(a,b):
    print("Sub is : ",a-b)

sum(a = 20 , b = 5)

Sub is :  15

# Non Keyword Argument

In [12]:
def add(*num):
    sum=0
    
    for n in num:
        sum=sum+n
    print("Sum is : ",sum)

add(10,20)
add(10,20,30)

Sum is :  30
Sum is :  60

# Keyword Argument

In [17]:
def my_fun(**arg):
    for i,j in arg.items():
        print(i,j)
        
my_fun(Name = "Nirali",Lastname = "Gosaliya")

Name Nirali
Lastname Gosaliya

# Local Variabels and Gobal Variables

In [24]:
def my_fun():
    x=10
    print("Local variable is : ",x)
    
my_fun()
y=100
print("Global varibale is : ",y)

Local variable is :  10
Global varibale is :  100

# Arithmetic OPerators In Python

In [26]:
a =  9
b = 3

print("a + b = ",a + b)
print("a - b = ",a - b)
print("a * b = ",a * b)
print("a / b = ",a / b)
print("a // b = ",a // b)
print("a ** b = ",a ** b)

a + b =  12
a - b =  6
a * b =  27
a / b =  3.0
a // b =  3
a ** b =  729

# Comparison OPerator

In [27]:
x=10
y=6

print("a > y is ",x > y)
print("a < y is ",x < y)
print("a >= y is ",x >= y)
print("a <= y is ",x <= y)
print("a == y is ",x == y)
print("a != y is ",x != y)

a > y is  True
a < y is  False
a >= y is  True
a <= y is  False
a == y is  False
a != y is  True

# Logical and operator

In [31]:
n1=10
print("First number is : ",n1)

n2=30
print("Second number is : ",n2)

n3=50
print("Third number is : ",n3)

if n1>n2 and n1>n3:
    print("Greatest number is n1")
elif n2>n1 and n2>n3:
    print("Greatest number is n2")
else:
    print("Greatest number is n3")

First number is :  10
Second number is :  30
Third number is :  50
Greatest number is n3

# Logical or operator

In [35]:
ch=input("Enter a character")

if(ch=='A' or ch=='a' or ch=='E' or ch=='e' or ch=='I' or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print(ch ,"is a vowel")
else:
    print(ch, "is a consonant")

Enter a characterE
E is a vowel

# Assignment OPerators

In [42]:
x=10
y=3

if x==y:
    print("True")
else:
    print("False")

x+=5
print("+= is : ",x)

y-=1
print("-= is : ",y)

x%=2
print("%=is : ",x)

x/=5
print("/= is : ",x)

y//=7
print("//= is : ",y)

False
+= is :  15
-= is :  2
%=is :  1
/= is :  0.2
//= is :  0

# Membership operator

In [43]:
x=10
y=300

list1=[100,200,300,400,500]

print("x is in list1 : ",list1)
print(" inlist1)
print(x not in list1)

False
True
True

# Identity Operator

In [45]:
x=8345
y=4643

print("x is y : ",x is y)

print("x is not y : ",x is not y)

x is y :  False
x is not y :  True